body {
  background-color: white;
  font-family: sans-serif;
}

.text-primary {
  font-family: DIN Pro Medium, sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #1564d2;
  margin-top: 30px;
  text-align: center;
}

.text-result {
  font-family: DIN Pro Medium, sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #1564d2;
  text-align: center;
}

.text-secundary {
  font-family: Roboto-Light, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7;
  color: #103160;
  margin-top: 30px;
  width: 60%;
  margin: auto;
  text-align: justify;
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #005997;
  text-align: center;
  color: white;
}

.name {
  color: #00bcf5;
  font-weight: bold;
}

.logo-footer {
  width: 150px;
  margin-right: 150px;
  margin-top: 5px;
}

.topnav {
  background-color: white;
  margin-top: 1%;
  margin-bottom: 40px;
}

.topnav-child {
  background-color: white;
  margin-left: 12%;
  width: 20%;
}

.logo {
  width: 225px;
}

.progress-bar-container {
  margin: auto;
  width: 60%;
  height: 30px;
  border-radius: 50px;
  background-color: #005997;
}

#progress-bar {
  width: 0%;
  height: 30px;
  background-color: #00bcf5;
  border-radius: 50px;
}

.btn {
  margin: auto;
  border-radius: 50px;
  cursor: pointer;
  background-color: #00bcf5;
  color: white;
  text-decoration: none;
  border: none;
  width: 100%;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  background-color: #005997;
}

.form-control {
  margin: auto;
  border-radius: 50px;
  background-color: #e3f2ff;
  color: #005997;
  width: 100%;
  border: none;
  height: 30px;
  text-align: center;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#container-bar {
  display: none;
}
